@charset "UTF-8";

/* Police d'ecriture */
@font-face {
    font-family: "Haas Grotesk Med";
    src: url("/fonts/NHaasGroteskTXPro-65Md.ttf") format("truetype");
}

/* Style par defaut */

html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
}

:root {
    --bg-color: rgb(235, 173, 123);
    --main-color: #f2f8f5;
    --main-text-color: black;
    --sub-title-color: grey;
    --label : rgb(29, 119, 180);
    --main-style-color: #e55126;
    --item-bg-color : white;
    --shadow-color : rgba(5,15,31,0.16);
    --shadow_style_left : 0px 0px 50px 0 var(--shadow-color);
    --shadow_style_right : 0px 0px 50px 0 var(--shadow-color);
}

/* @media (prefers-color-scheme: dark) {
    :root {
        --bg-color: rgb(235, 173, 123);
        --main-color: #1d1d1d;
        --main-text-color: white;
        --sub-title-color: grey;
        --label : rgb(29, 119, 180);
        --main-style-color: #e55126;
        --item-bg-color: #232323;
        
        --shadow-color : rgba(95, 95, 95, 0.16);
    }
} */

body {
    background-color: var(--bg-color);
    font-family: 'Inter', sans-serif;
    border: 0;
    margin: 0;
}

main {
    margin: auto;
    width: 100%;
    max-width: 1200px;
    background-color: var(--item-bg-color);
}

h1 {
    margin-left: 100px;
    margin-bottom: 50px;
    font-size: 85px;
}

img{
    width: 50%;
    border-radius: 18px;
    object-fit: cover;
}

a {
    font-style: normal;
    text-decoration: none;
}

/* ///////////////////////////////////////////////////////////// */
/* ////////////////////// Barre Navigation //////////////////// */
/* /////////////////////////////////////////////////////////// */

nav {
    display: flex;
    width: 100%;
    height: 60px;
    justify-content: space-between;
    background-color: var(--item-bg-color);
    box-shadow : 0px 7px 25px 0 var(--shadow-color);
}

nav > div {
    height: 100%;
    width: 100px;
}

nav > div > img {
    margin : 5px;
    height: 100%;
    width: auto;
}

nav > ol {
    display: flex;
    align-items: center;
    height: 100%;
}

nav > ol > li {
    height: 100%;
    padding: 15px;
    list-style: none;
    font-size: 18px;
    font-weight: 500;
    color: var(--sub-title-color);
}






ol > li:hover > .sous_menu {
    display: block;
}

.sous_menu {
    display: none;
    left: 0;
    position: absolute;
    width: 100%;
    margin-top: 24px;
}
.sous_menu ul {
    max-width: 1200px;
    width: 100%;
    display: flex;
    margin: 0 auto;
    background-color: aliceblue;
    height: 200px;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0px 10%;
}

.selected_article, nav > ol > li:hover {
    color : var(--main-style-color);
    border-bottom: 3px solid var(--main-style-color);
}

footer {
    height: 180px;
    background-color: #a8a8a8;
}

/* ol > li::after{
    position: absolute;
    content: ' ';
    padding: 0;
    margin-top: 57px;
    margin-left: -463px;
    width: 0px;
    height: 3px;
    background-color: var(--main-style-color);
    transition: margin-left 2s ,width 2s;
}

nav > ol > li:hover::after {
    width: 1200px;
    margin-left: -1183px;
} 

@keyframes animation_barre_nav {
    from {
        width: 0px;
        margin-left: 463px;
    }
    to{
        width: 1200px;
        margin-left: -1200px;
    }
}
*/

.sous_menu > div{
    display: none;
    position: absolute;
    width: 100vw;
    height: 350px;
    max-width: 1200px;
    margin-top: 60px;
    margin-left: -1191px;
    background-color: var(--item-bg-color);
    border-bottom-left-radius: 35px;
    border-bottom-right-radius: 35px;
    border-top : transparent 2px solid;

    align-items: center;
    justify-content: flex-start;
    
    padding-left: 25px;
    box-shadow : 0px 7px 10px 0 var(--shadow-color);
}

.sous_menu > div > ul {
    display: block;
    list-style-type: none;
    height: auto;
    font-size: 20px;
}

.sous_menu > div > ul > a > li{
    margin-top : 20px;
    animation: margin_li_sous_menu 1s;
}

nav > ol:hover > li.sous_menu > div, .sous_menu > div:hover { 
    display : flex;  
}

.sous_menu > div > ul > a > li {
    color: transparent;
    background: linear-gradient(90deg, var(--main-style-color) 50%, var(--sub-title-color) 50%, var(--sub-title-color) 100%);
    background-size: 200%;
    
    font-weight: 500;
    -webkit-background-clip: text;
    background-position: 100%;
    transition: background-position 0.5s;
}

.sous_menu > div > ul > a > li:hover {
    background-position: 0%;
}



.sous_menu ul:last-of-type::before{
    position: absolute;
    content: ' ' ;
    height: 180px;
    width: 2px;
    background-color: var(--main-style-color);
    margin-left: -80px;
    margin-top: 0;
    animation: barre_sous_menu 1s;
}


@keyframes barre_sous_menu {
    from {
        height: 0px;
        margin-top: -60px;
    }
}

@keyframes margin_li_sous_menu {
    from {
        margin-top : 15px;
    }
}


@media screen and (max-width: 1200px) {
    .sous_menu > div{
        position: absolute;
        margin-left: calc(-100vw + 15px);
    }
}


/* ///////////////////////////////////////////////////////////// */
/* ////////////////////// Page d'acceuil ////////////////////// */
/* /////////////////////////////////////////////////////////// */


.page_acceuil a {
    color : var(--main-text-color);
}

.main_article {
    margin: auto;
    margin-bottom: 30px;
    width: 85%;
    padding : 15px;
    border-radius : 25px;
    box-shadow: var(--shadow_style_left);
}

.main_article a {
    display: flex;
    width : 100%;
    height : 100%;
}

.main_article > a > img {
    box-shadow: var(--shadow_style_right);
    width : 50%;
}

.main_article div {
    width: 48%;
    margin-left: 12px;
    padding : 15px;
}

.main_article div > span {
    font-size: 16px;
    color: var(--section-sub-color);
}

.main_article  div > h3 {
    font-size: 45px;
    margin-bottom: 15px;
}

.main_article  div > p {
    padding-top: 10px;
    font-size: 19px;
}

/* Sous Article  */

.container {
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px;
    grid-auto-rows: minmax(100px, auto);
    justify-items: center;
    width: 85%;
}

.sous_article {
    width: 100%;
    margin-top: 30px;
    border-radius : 25px;
    box-shadow: var(--shadow_style_left);
}

.sous_article img{
    width: 95%;
}

.sous_article a {
    margin-left : 15px;
    margin-top : 15px;
    display : block;

    
    margin-bottom: 60px;
}

.sous_article > a > span {
    font-size: 12px;
    color: var(--sub-title-color);
}

.sous_article > a > h3 {
    font-size: 18px;
    width : 95%;
    
}
.sous_article > a > p {
    font-size: 13px;
    width : 80%;
    display: none;
}

/*   Sous article Hover */


/* ///////////////////////////////////////////////////////////// */
/* ////////////////////// Page d'article ////////////////////// */
/* /////////////////////////////////////////////////////////// */

/*  Aricle principale   */
h1, .article_title, .citation, nav {
    color: var(--main-text-color);
}

ol {
    margin-block-start: 0;
    margin-block-end: 0;
}

.article_title_label {
    font-size: 16px;
    color: #3c96ff;
}

.article_title {
    font-size: 32px;
    font-family: 'Inter', sans-serif;
    font-weight: 600
}

.article_title_infos {
    font-size: 16px;
    color: var(--sub-title-color);
}

.article {
    font-size: 18px;
    max-width: 752px;
    margin: 0 auto;
}



.citation {
    width : 90%;
    margin : auto;
    padding: 40px 32px;
    margin-top: 40px;
    margin-bottom: 40px;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    box-shadow: var(--shadow_style_left);
    font-size: 16px;
    border-left: 4px solid var(--main-style-color);
    background: var(--item-bg-color);
}

.sommaire {
    border-radius: 32px;
    background-color: var(--main-color);
    padding: 32px;
    margin-top: 24px;
}

.sommaire h3 {
    font-size: 24px;
    margin-bottom: 8px;
    color: var(--main-text-color);
    font-weight: 600;
    line-height: 1.45;
}


.article_main {
    overflow-wrap: break-word;
    margin-bottom: 32px;
    line-height: 1.6;
    color: var(--main-text-color);
    font-weight: 400;

}

.article_main h2 {
    margin-top: 40px;
}


/* ///////////////////////////////////////////////////////////// */
/* //////////////////// Selection article ///////////////////// */
/* /////////////////////////////////////////////////////////// */

/*  Bouton suivant  */ 
.bouton{
    display: flex;
    justify-content: space-between; 
    padding-right: 50px;
    padding-left: 50px;
}

.bouton a {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.bouton p:hover {
    background-position: 0%;
}

.bouton p {
    font-weight: 500;
    font-size: 20px;
    margin: 0;
    margin-right: 10px;
    color: transparent;
    background: linear-gradient(90deg, var(--main-style-color) 50%, var(--sub-title-color) 50%, var(--sub-title-color) 100%);
    background-size: 200%;
    
    -webkit-background-clip: text;
    background-position: 100%;
    transition: background-position 1s;
}

.bouton a:hover > p  {
    background-position: 0%;
}
.bouton_suivant {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.bouton_suivant p::after {
    content: ' ';
    position: absolute;
    width: 0px;
    height: 2px;
    margin-top: 22px;
    margin-left: -136px;
    background-color: var(--main-style-color);
    transition: width 1s;
}

.bouton_suivant p:hover::after {
    width: 135px;
}

.bouton_suivant a:hover p::after {
    width: 135px;
} 

/* Bouton precedent */
.bouton_precedent > a {
    display: flex;
    flex-direction: row;
}
.bouton_precedent p{
    margin-left: 10px;
    background: linear-gradient(90deg, var(--sub-title-color) 50%, var(--main-style-color) 50%, var(--main-style-color) 100%);
    background-size: 200%;
    
    -webkit-background-clip: text;
    background-position: 0%;
    transition: background-position 1s;
}

.bouton_precedent a:hover > p {
    background-position: 100%;
}

.bouton_precedent p::after {
    content: ' ';
    position: absolute;
    width: 0px;
    height: 2px;
    margin-top: 22px;
    margin-left: 0px;
    background-color: var(--main-style-color);
    transition: width 1s, margin-left 1s;
}

.bouton_precedent p:hover::after, .bouton_precedent a > div:hover ~ p::after {
    width: 162px;
    margin-left: -163px;
}



/* Fleche Bouton */
.bouton a > div {
    width: 50px;
    height: 50px;
    background-color: var(--main-style-color);
    border-radius: 15px;
}

.bouton_precedent a > div{
    transform : rotate(180deg);
}

.fleche {
    margin-left: 3px;
}

.fleche_part1::before {
    position: absolute;
    content: ' ';
    background-color: white;
    width: 30px;
    height: 2px;
    margin-top: 25px;
    margin-left: 6px;
    border-radius: 2px;
}

.fleche_part2::before {
    position: absolute;
    content: ' ';
    background-color: white;
    width: 15px;
    height: 2px;
    margin-top: 20px;
    margin-left: 23px;
    transform: rotate(45deg);
    border-radius: 2px;
}

.fleche_part2::after{
    position: absolute;
    content: ' ';
    background-color: white;
    width: 15px;
    height: 2px;
    margin-top: 30px;
    margin-left: 23px;
    transform: rotate(-45deg);
    border-radius: 2px;
}



/* ///////////////////////////////////////////////////////////// */
/* ////////////////////     Carousel    /////////////////////// */
/* /////////////////////////////////////////////////////////// */

.selection_article > h2 {
    text-align: center;
    color: var(--sub-title-color);
    font-size: 25px;
    font-weight: 400;
}

.selection_article > h2::after {
    position: absolute;
    content: ' ';
    margin-top: 50px;
    margin-left: -263px;

    width: 323px;
    height: 2px;
    background-color: var(--sub-title-color);

}

.carousel {
    width: 90%;
    margin: auto;
    overflow-x: scroll ;
    display: flex;
    margin-top: 50px;
    box-shadow: 0px 0px 30px 0 var(--shadow-color);
    border-radius: 25px;
    -webkit-appearance: none;

    /* A virer */
    margin-bottom: 200px;
    

    /* style moz */
    scrollbar-width: thin;
}


/*      Style Webkit    */
.carousel::-webkit-scrollbar {
    height: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: var(--main-color);
    box-shadow: inset 0px 0px 4px 0 var(--shadow-color);
}

.carousel::-webkit-scrollbar-corner {
    display: none;
}

.carousel::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: var(--sub-title-color);
}
.carousel > .sous_article {
    width: 30%;
    flex-shrink: 0;
    margin : 10px;
    box-shadow: 0px 0px 20px 0 var(--shadow-color);
}

.carousel > .sous_article > a {
    color: var(--main-text-color);
}



/* ///////////////////////////////////////////////////////////// */
/* //////////////     Image svg gestion css    //////////////// */
/* /////////////////////////////////////////////////////////// */



.img_svg_second_color {
    fill: none;
    stroke-width: 5px;
    stroke : var(--main-text-color);
}

.img_svg_second_color, .img_svg_main_color {
    fill-rule: evenodd;
}

#Accolade_1, #Accolade_2 {
    fill : var(--main-style-color);
}

#case_grp3 {
    stroke : var(--main-style-color);
}

.image_svg svg{
    width : 50%;
} 
